
await write(`

  const state = await read('inbox/example.state.text')
  const next_state = state + '-'
  await write(next_state, 'inbox/example.state.text')
  return next_state

`, 'inbox/example.ask.js')

console.log(`Routine self evolved for the next run.`)

return `inbox/example.ask.js`